header{
    float: left;
    background-color: #0D0D0D;
    width: 100%;
}

header p{
    float: right;
    color: white;
}

a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #FFF;
    background: #F20505;
    padding: 20px 5px;
}

#logo{
    float: right;
    width: 40%;
    height: 40%;
    display: block;
}

nav{
    float: right;
    padding: 20px;
}

#menu-icon{
    display: hidden;
    width: 40px; 
    height: 40px;
    background: #590808 url(../imagens/gold-pot.png)
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    float: left;
    padding: 10px;
}

@media only screen and (max-width: 640px){

    #menu-icon{
        display: inline-block;
    }

    nav ul{
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        padding: 20%;
        background: #F20505;
        width: 15%;
    }
    
    nav li{
        text-align: left;
        width: 50%;
        padding: 10px 0;
        margin: 0;
    }
    
    nav:hover ul{
        display: block;
    }

    nav li a{
        color: #0D0D0D
    }

}
