<!-- Adiciona o html base.html ao código, equivalente a copiar o cod do arquivo e colocar no lugar da linha
    Porém ao extender o arquivo é possível usar os blocks contidos nele, como o block title
    e o bloco content.

    Portanto o Django vai, ver o que tem nesses blocos adicionar no base.html e então gerar a pagina final
-->
{% extends 'global/base.html' %}

{% block title %}Login | {% endblock title %}

{% block content %}

    <div class="main-content center container">

        <h2> Login </h2>

        {% include 'authors/partials/login_messages.html' %}

    </div>

    <div class="main-content container">

        <form action="{{ form_action }}" method="post">
            {% csrf_token %}
            <div class="form-content form-content-grid">

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                    {{ field }}

                    {% if field.help_text %}
                        <p class="help-text">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {{ field.errors }}

                </div>
            {% endfor %}

            {% if form.erros %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <div class="message message-error">
                        Tem erros no form, arrume!!
                    </div>
                </div>
            </div>
            {% endif %}

            </div>

            <div class="form-content form-content-grid">
                <div class="form-group">
                  <button type="submit">Send</button>
                </div>
            </div>

        </form>
    </div>

{% endblock content%}

