<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <h1>Lista de Cores</h1>

        <ul>
            {% for cor in parametros.cor %}

                <li>
                    <a href="{% url 'att_cor' cor.id%}">{{ cor.id }} - {{ cor.cor }}</a>
                </li>

            {% endfor %}
        </ul>

        <form action="{% url 'cor_nova' %}" method="POST">
            {% csrf_token %}
            {{form.cor.as_p}}
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div>
        <h1>Lista de Categorias</h1>

        <ul>
            {% for categoria in parametros.categoria %}

                <li>
                    <a href="{% url 'att_categoria' categoria.id %}">{{ categoria.id }} - {{ categoria.categoria }}</a>
                </li>

            {% endfor %}
        </ul>

        <form action="{% url 'categoria_nova' %}" method="POST">
            {% csrf_token %}
            {{form.categoria.as_p}}
            <button type="submit">Enviar</button>
        </form>
    </div>

    <div>
        <h1>Lista de Marcas</h1>

        <ul>
            {% for marca in parametros.marca %}

                <li>
                    <a href="{% url 'att_marca' marca.id %}">{{ marca.id }} - {{ marca.marca }}</a>
                </li>

            {% endfor %}
        </ul>

        <form action="{% url 'marca_nova' %}" method="POST">
            {% csrf_token %}
            {{form.marca.as_p}}
            <button type="submit">Enviar</button>
        </form>
    </div>

    <a href="{% url 'core_home' %}">Voltar ao menu</a>

</body>
</html>