{% extends 'base.html'%}

{% block titulo%} Bem vindo ao index {% endblock %}

{% block principal%}
<h1 class="programe_facil">Olá Macacada!!!!</h1>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
</ul>

{% if sexo == 'm' %}
    Ola Senhor {{nome}}
{% elif sexo == 'f'%}
    Ola Senhora {{nome}}
{% else %}
    Ola Fresco
{% endif %}

<br>
<ul>

    {% for pessoa in lista_index %}
        {% if pessoa.sexo == 'm' or pessoa.sexo == 'M'%}
            <li>Olá senhor {{pessoa.nome}}</li>
        {% else %}
            <li>Olá senhor {{pessoa.nome}}</li>
        {% endif %}
    {% endfor %}

</ul>

    <button class="btn btn-info" onclick="helloWorld()">Clique Aqui</button>

    <a href="/produtos">Produtos</a>

<!-- Esse include adiciona um bloco de código de um arquivo,
    nesse exemplo o arquivo footer.html e com o parametro with, é possível enviar
    dados de uma variavel para ele, nesse exemplo o footer.html vai receber
    uma variavel com o nome pnome que contem o valor de nome, não pode haver
    espaço entre o nome da vairavel e seu valor, 'pnome = nome' (Vai dar erro)-->
{% include 'footer.html' with pnome=nome %}

{% endblock %}
